<div class="container">
	<h1>Usuarios cadastrados</h1>

	<form class="form-inline">
		<div class="form-group mx-sm-3 mb-2">
			<input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome"
				placeholder="Pesquisa por nome">
		</div>
		<button type="button" (click)="consultarUser()" class="btn btn-success mb-2">Buscar</button>

		<button type="button" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active"
			style="margin-left: 5px;" class="btn btn-info mb-2">Novo</button>
	</form>



	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Login</th>
				<th>Deletar</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let usuario of usuarios">
				<td>{{usuario.id}}</td>
				<td>{{usuario.nome}}</td>
				<td>{{usuario.login}}</td>
				<td><button (click)="deleteUsuario(usuario.id)" class="btn btn-danger">Deletar</button></td>
				<td><button [routerLink]="['/usuarioAdd',usuario.id]" routerLinkActive="router-link-active"
						class="btn btn-warning">Editar</button></td>
			</tr>
		</tbody>
	</table>
</div>